html {
  background-color: white;
}

body {
  text-align: center;
  font-family: 'Stoke', serif;
  font-weight: 300;
  margin: 0 auto;
}

div#page {
  text-align: left;
  width: 46em;
  margin: 0 auto;
}

h1 {
  font-size:20px;
  font-weight:200;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}
h2 {
  text-decoration: none;
  color: #0066CC ;
  font-size: 30px;
  font-weight:200;
}

h3 {
  color: red;
  margin-top: -20px;
  font-size: 15px;
  font-weight:100;
}

p#descrip {
  margin-top: -10px;
  font-size: 13px;
}

em#more {
  font-size: 15px;
}

em#more:hover {
  color: grey;
}
