html {
  background-color: white;
}

body {
  text-align: center;
  font-family: 'Stoke', serif;
  font-weight: 300;
  margin: 0 auto;
  height: 100%;
}

div#page {
  text-align: left;
  width: 46em;
  margin: 0 auto;
}

h1 {
  font-size:20px;
  font-weight:200;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}
h2 {
  text-decoration: none;
  color: #0066CC ;
  font-size: 30px;
  font-weight:200;
}

h3 {
  color: red;
  margin-top: -20px;
  font-size: 15px;
  font-weight:100;
}

p#descrip {
  margin-top: -10px;
  font-size: 13px;
}

em#more {
  font-size: 15px;
}

em#more:hover {
  color: grey;
}

#lightbox {
  position: absolute;
  top: 0;
  left: 35%;
  width: 900px;
  height: 500px;
  overflow: scroll;
  margin-left: -250px;
  background: #fff;
  z-index: 1001;
  display: none;
  border-radius: 8px;
}
#lightbox p {
  padding-left: 20px;
  padding-right: 10px;
  text-align: left;
}
#lightbox-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: #000;
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
  z-index: 1000;
  display: none;
  overflow: auto;
}